#imageContainerAbout {
            position: relative;
            font-family: serif;
            width: 100%;
            height: 54vh; /* Set the container height to 80vh */
            overflow: hidden; /* Hide any part of the image that overflows */
        }
        /* Add a dark overlay */
#imageContainerAbout::before {
            content: ''; /* Required for the pseudo-element */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity value to make it darker or lighter */
            z-index: 1; /* Ensure it is on top of the image */
        }
        
        #imageContainerAbout img {

            width: 100%;
            height: 100%; /* Make the image cover the container height */
            object-fit: cover; /* Ensures the image covers the container without stretching */
            display: block;
        }
        
        #imageContainerAbout h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            z-index: 2;
            font-size: 4rem; /* Larger font size for larger screens */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            padding: 0 1rem; /* Adds padding to prevent text from touching the edges on smaller screens */
        }
        
        /* Responsive styles */
        @media (max-width: 768px) {
            #imageContainerAbout h2 {
                font-size: 3.5rem; /* Slightly smaller but still large on tablets */
            }
        }
        
        @media (max-width: 480px) {
            #imageContainerAbout h2 {
                font-size: 3.5rem; /* Keep text large on mobile devices */
                padding: 0 0.5rem; /* Adjust padding to fit text on small screens */
            }
        }
        
/* SECOND SECTION */
        #contactAbout {
            font-family: serif;
            background-color: rgb(9 20 5); /* Green background */
            text-align: center; /* Center the text */
            padding: 30px; /* Add some padding for spacing */
          }
          
          #contactAbout p:first-child {
            padding-bottom: .5rem;
            font-weight: 100; /* Slim font for the first paragraph */
            color: white; /* White color for the text */
            font-size: 1.1rem; /* Adjust the font size as needed */
          }
          
          #contactAbout p:last-child {
            font-weight: 900; /* Thick font for the second paragraph */
            color: white; /* White color for the text */
            font-size: 1.4rem; /* Adjust the font size as needed */
          }
          
          #reviewCard > :nth-child(1) {
            background-color: rgb(250, 250, 250);
        }
        
        #reviewCard > :nth-child(2) {
            background-color: rgb(240, 206, 209);
        }
        #reviewCard > :nth-child(3) {
            background-color: rgb(125 170 185);
        }
        #reviewCard > :nth-child(4) {
            background-color: rgb(198, 230, 168);
        }
        #reviewCard > :nth-child(5) {
            background-color: rgb(240, 238, 196);
        }
        #reviewCard > :nth-child(6) {
            background-color: rgb(240, 206, 206);
        }
        #reviewCard > :nth-child(7) {
            background-color: rgb(189, 236, 244);
        }
        #reviewCard > :nth-child(8) {
            background-color: rgb(178, 239, 173);
        }
        
        